<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <style>
        *{
            margin: 0;
        }

        header{
            background-color: lightgray;
            padding: 20px;
            display: flex
        }

        section{
            display: flex;
            margin-top: 20px;
            gap: 4%;
            padding-left: 4%;
        }

        section div{
            background-color: lightgray;
            width: 44%;
            height: 300px;
            position: relative;

        }
    </style>
</head>
<body>
    <header >
        <h1>Лого</h1>
        <div class="btns" style="display: flex; margin-left: auto">
            <input type="button" value="Питание">
            <input type="button" value="Связь с администрацией">
            <input type="button" value="Данные о этажах">
        </div>
    </header>

    <section class="body">
        <div class="data">

        </div>

        <div class="graphics">
           <h1>Графики количества людей</h1>


        <img style="width: 100%" src="data:image/png;base64,{{ image_data }}" alt="График за последний час">


    </section>

</body>
</html>